*
  box-sizing border-box

body
  font-family 'PingFang SC', 'Microsoft YaHei', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #000
  -webkit-text-size-adjust 100% !important

body, h1, h2, h3, h4, h5, h6, p
  margin 0

ul, ol
  margin 0
  padding 0
  list-style none

input, select, textarea
  border none
  padding 0
  border-radius 0
  outline none
  font inherit
  color inherit
  appearance none
  -moz-appearance none
  -webkit-appearance none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none
input[type="number"]
  -moz-appearance textfield

a
  text-decoration none
  color inherit
  cursor pointer
  &:focus
    color inherit
  &:active
    color inherit
  &:visited
    color inherit

img[src=''], img:not([src])
  opacity 0
